<launch>
    <arg name="gui" default="False"/>

    <param name="topic_name_position_pose" value="position/pose" />
    <param name="topic_name_position_track" value="position/track" />

    <include file="$(find raceon_simulation)/launch/raceon_simulation.launch">
        <arg name="gui" value="$(arg gui)" />
    </include>

    <node pkg="raceon" name="pos_estimation" type="pos_estimation.py" output="log">
        <param name="~scan_line" value="180" />
        <param name="~peak_threshold" value="140" />
        <param name="~track_width" value="500" />
        <param name="~camera_center" value="320" />
    </node>

</launch>
