<launch>

    <param name="topic_name_camera_image" value="camera/image" />
    <param name="topic_name_camera_info" value="camera/camera_info" />

    <param name="topic_name_vesc_teleop" value="/vesc/ackermann_cmd_mux/input/teleop" />

    <include file="$(find racecar_gazebo)/launch/raceon.launch">
        <arg name="world_name" value="raceon_empty"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="true"/>
    </include>

    <node pkg="raceon_simulation" name="racecar_actuation" type="racecar_actuation.py" output="log" />

</launch>
