<launch>
    <arg name="gui" default="False"/>

    <param name="topic_name_camera_image" value="camera/image" />
    <param name="topic_name_camera_info" value="camera/camera_info" />

    <param name="topic_name_vesc_teleop" value="/vesc/ackermann_cmd_mux/input/teleop" />

    <include file="$(find racecar_gazebo)/launch/raceon.launch">
        <arg name="world_name" value="raceon_empty"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="true"/>
    </include>

    <node pkg="raceon_simulation" name="racecar_actuation" type="racecar_actuation.py" output="log" />

    <group ns="camera/image" >
        <rosparam param="disable_pub_plugins">
            - 'image_transport/compressedDepth'
            - 'image_transport/theora'
        </rosparam>
    </group>
    <node pkg="rosbag" type="record" name="record_simulation" output="screen" args="--all -o /tmp/raceon_simulation"/>

</launch>
